<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sign Up - Sign In</title>
  <link rel="stylesheet" href="/sign-style.css">
  <link rel="stylesheet" href="/lorder.css">
</head>
<body>
  <body>
      <%- body %>
  </body>
</html>
  <script  src="SIGN-script.js"></script>
</body>
</html>
