<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sign Up - Sign In</title>
  <link rel="stylesheet" href="/sign-style.css">
  <link rel="stylesheet" href="/lorder.css">
  <script src="https://www.google.com/recaptcha/enterprise.js?render=6LfQp0gpAAAAAHWlFahzqCPEfZI3xe5xaPCQRs4G"></script>
  <!-- Your code -->
</head>
<body>
  <body>
      <%- body %>
  </body>
</html>
  <script  src="SIGN-script.js"></script>
 
</body>
</html>
